@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');



body {
    font-family: 'MuseoModerno', cursive;
}


* {
    box-sizing: border-box;
}

 html {
     background-color: #343d52;
 }

 main {
     background-color: #485063;
     overflow: auto;
     padding: 20px;
 }
 #display {
     width: 75%;
     float: left;

}

 #video {
    width: 100%;
    max-height: 300px;
    object-position: center;
 }
 .card {
    background-color: #858b97;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    
}

header {
    display: inline;
    position: sticky;

}

.uploadBar {
    width: 100%;
}

.head-block {
    font-size: 20px;
    background-color:#FFD700;
    padding: 10px;
    text-align: left;
    color: black;
    
}
.head-block h1  {
    font-size: xx-large;
    color: black;
}

nav {
    position: sticky;
    top: 0;
    background-color:#5d6475;
    padding: 5px;
    width: 100%;
    text-align: center;
 }
 nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
 }

 nav a {
    font-size: large;
    text-decoration: none;
    color: #FFD700;
    font-weight: 400;
    text-align: justify;

}

nav a:hover {
    font-size: xx-large;
    text-decoration:none;
    color: yellow;
    position: relative;
}

 main {
    
    overflow: auto;
 }

 #panel-prediksi {
    overflow: auto;
}


 #panel-prediksi h2 {
     text-align: center;
     color: black;
 }


.profile {
    background-color: #485063 ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    margin-top: 20px;
    object-position: center;
    text-align: center;
 }
 .profile header {
     
     object-position: center;
     
 }

 .profile img {
   object-position: center;
   width: 150px;

 }

 aside {
    background-color: #858b97;
    float: right;
    width: 25%;
    margin-top: 20px;

 }

 h3, h1, h2,p {
     text-align: center;
 }
 .history {
    overflow: scroll;
    text-align: center;
 }

 .history h2 {
     text-align: center;
 }

 table {
    object-position: center;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid black;
    overflow: auto;
 }

 th,
 td {
   text-align: center;
   padding: 16px;
}

th {
    background-color: #485063;
    color: white;
 }
  
 tr:nth-child(even) {
    background-color: #d2d2d2;
 }


 footer {
    padding: 20px;
    color: black;
    background-color: #FFD700;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 720px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
 }

  
